.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  .navigateBtn {

    display: flex;
    align-items: center;

    button {
      font-size: 16px; /* Kích thước font chữ */
      padding: 12px 24px; /* Kích thước lề bên trong nút */
      text-align: center;
    }
  }
}


mat-nav-list {

  button {
    font-size: 16px !important;
  }

}