<header class="header">
  <mat-toolbar color="primary" class="mat-elevation-z8">
      <button routerLink="" mat-icon-button>
          <mat-icon>menu</mat-icon>
      </button>
      <span class="title">Boleto</span>
      <span class="example-spacer"></span>
      <button routerLink="/" mat-button>Home</button>
      <button [matMenuTriggerFor]="lvl1master" mat-button>Master</button>

      <mat-menu #lvl1master="matMenu">
          <button [matMenuTriggerFor]="user" mat-menu-item>User</button>
          <button mat-menu-item>Category</button>
          <button mat-menu-item>Film</button>
      </mat-menu>

      <mat-menu #user="matMenu" xPosition="after">
          <button mat-menu-item>Add</button>
          <button mat-menu-item>Edit</button>
          <button mat-menu-item>Delete</button>
      </mat-menu>


      <button routerLink="" mat-button>About</button>
      <button routerLink="" mat-button>Contact</button>
      <button routerLink="/login" mat-raised-button color="accent">Login</button>
  </mat-toolbar>
</header>